*{
    margin: 0;
}
body{
    display: flex;
    justify-content:center ;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    
}
 h2 {
    border-bottom: 2px solid #333;
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
}
#main{
    border: 5px solid #9b9b9b;
    margin-top: 40px;
    margin-bottom: 40px;
}
#basic_info ,#contact_info{
    margin-top: 50px;
   
    width: 600px;
 
}
th{
    text-align:left;
    padding: 0px ;
    padding-left: 50px;
    font-size: 15px;
 
}
h3{ 
   margin: 10px 0px; 
}
.checkbox_gender{
    display: flex;
    flex-direction: column;
}
h3{
    width: 155.9px;
}